<html>
    <head>
        <title>종혁이의 장고 웹배포 연습</title>
        <style>
            div {
                border : palevioletred solid 3px;
            }
        </style>
    </head>

    <body>
        <div>
            <h1><a href="#">종혁이의 장고 웹배포 연습</a></h1>
            <p>배포 넘넘 신기한것~</p>
        </div>

        {% for post in posts %}
            <div>
                <h1><a href="#">{{ post.title }}</a></h1><br/>
                <p>published: {{ post.published_date }}</p><br/>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

    </body>
</html>